body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12pt;
	color: #000066;
	background-color: #e1ffff;
}

h1 {
	text-align: center;
	color: #e91e63;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table td, .table th {
	border: #000 solid 1px;
}