body {
  font-family: Trebuchet MS;
  font-size: 12pt
}

h1 {
  color: #FF6666;
  text-align: center
}

table {
  width: 100%;
}

#saisie td:first-child {
  width: 50%;
}

#menu td {
  width: 33%;
  text-align: center;
}